header{
    position: sticky;
    top: 0;
    left: 0;
    weight: 100%;
    display: grid;
    grid-column: 1 / -1;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    text-align: center;
    color: #fff;
    background-color: #333333bd;
    font-size: larger;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 10px 20px  #000000;
}
 
main{
    padding: 30px;
}

body{
    
    background-color: #3c3b3b;
    margin: 0;
}

.start{
    margin-left: 10%;
}

nav a {
    text-decoration: none;
    justify-content: space-between;
    margin-right: 20px;
    color: #fff;
}
.menu a {
    color: darkorange;
    font-size: 35px;
    font-weight: bold;
    text-decoration: none;
    margin-right: 20px;
}
#orçamento-button {
    background-color: darkorange;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 16px;
    cursor: pointer;
    font-size: 16px;
}

p{
    display: grid;
    color: #fff;
    font-size: 20px;
}
h1{
    color:#fff;
    font-size: 50px;
}
h1 span{
    color: darkorange;
    font-size: 50px;
}
#projetos-button{
    text-decoration: none;
    background-color: darkorange;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 16px;
    cursor: pointer;
    font-size: 16px;
    
}

#orçamento{
    text-decoration: none;
    margin-left: 20px;
    background-color: rgba(0, 0, 0, 0.208);
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 16px;
    cursor: pointer;
    font-size: 16px;
}
.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
img{
 display: grid;
 grid-template-columns:
 repeat(auto-fit, minmax(250px, 1fr));
 gap: 20px;
border: solid black;
border-radius: 16px;
border-color: darkorange;
}
figcaption{
    font-size: 25px;
    color:darkorange;
    padding: 10px;
    font-weight: bolder;
}

#pg3{
    color:darkorange;
    margin-left: 10%;
    font-size: 30px;
    font-family: sans-serif;
}
#sobre h1{
    margin-left:10%;
    font-family: sans-serif;
}
ul{
    color:white;
}
#sitefooter{
     display: flex;
     justify-content: space-around;
    background-color: black;
    color:white;
    padding: 20px;
}



